{% extends "base.html" %}
{% load staticfiles %}

{% block head_block %}
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
{% endblock%}

{% block title_block %}登入{% endblock %}

{% block body_block %}
<div class="jumbotron">
    <h1 align="center">账号登入</h1>
<form class="form-signin" method="post" action="">
    {% csrf_token %}
    {% for field in form %}
        {% if field.errors %}
            <div class="alert alert-danger" role="alert">{{ field.errors }}</div>
        {% endif %}
        {{ field.label_tag }}
        <input class="form-control" type="{{ field.field.widget.input_type}}" name="{{ field.name }}" id="{{ field.id_for_label }}">
    {% endfor %}
    {% if form.errors %}
        <div class="alert alert-danger" role="alert">错误的用户名或密码</div>
    {% endif %}
    <br />
    <button class="btn btn-lg btn-primary btn-block" type="submit">登入</button>
    <input type="hidden" name="next" value="{{ next }}" />
    <p>忘记密码？<a href="{% url 'auth_password_reset' %}">重置</a><br />
        没有账号？<a href="{% url 'registration_register' %}">注册</a></p>
</form>
</div>
{% endblock %}

