{% extends "base.html" %}

{% block title_block %}更改密码{% endblock %}

{% block body_block %}
<form role="form" id="book_form" method="post"
          action="." enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            {% if field.errors %}
                <div class="alert alert-danger" role="alert">{{ field.errors }}</div>
            {% endif %}
            {{ field.label_tag }}
            <input class="form-control" type="{{ field.field.widget.input_type}}" name="{{ field.name }}" id="{{ field.id_for_label }}">
            <div class="help">{{ field.help_text | safe }}</div>
    {% endfor %}
        <br />
        <button type="submit" class="btn btn-primary" name="submit">提交</button>
    </form>
{% endblock %}